.grid-comollegar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "transportes container-mapa";
    margin: 0 auto;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
    padding-top: 20px;

    .transportes {
        background-color: rgb(219, 210, 210);

        padding: 30px;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);


        .back-colectivo {
            display: flex;
            align-items: center;
            padding-left: 10px;
            background-color: black;
            height: 50px;
            width: 100%;
            margin-bottom: 20px;

            .colectivo {
                color: white;
                font-size: 30px;

            }
        }

        .lista-colectivos {
            list-style: none;
            font-size: 30px;
            margin-bottom: 35px;
            line-height: 50px;

            &:hover {
                transform: translateX(20px);
                transition: all 1s;
            }
        }

        .back-tren {
            display: flex;
            align-items: center;
            padding-left: 10px;
            background-color: black;
            height: 50px;
            width: 100%;
            margin-bottom: 20px;

            .tren {
                color: white;
                font-size: 30px;
            }
        }

        .lista-trenes {
            list-style: none;
            font-size: 30px;
            margin-bottom: 35px;
            line-height: 60px;

            &:hover {
                transform: translateX(20px);
                transition: all 1s;
            }
        }

        @media screen and (max-width: 450px) {
            margin: 20px;
        }

    }

    .container-mapa {
        background-color: rgb(219, 210, 210);

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;

        -webkit-box-shadow: 19px 11px 13px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 19px 11px 13px -7px rgba(0, 0, 0, 0.75);
        box-shadow: 19px 11px 13px -7px rgba(0, 0, 0, 0.75);




        .mapa {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;


        }

        @media screen and (max-width: 450px) {
            margin: 20px;
        }
    }

    @media screen and (max-width: 450px) {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 300px;
        grid-template-areas: "transportes"
            "container-mapa";
        font-family: Arial, Helvetica, sans-serif;
        gap: 10px;

    }
}