/* FOOTER */

.grid-footer {
    display: grid;
    grid-template-areas: "buscados vendidos pagos"
        "logo comunicacion redes";
    margin: 100px 40px 30px 40px;
    gap: 30px;
    @include grid-template (1fr 1fr 1fr, 1fr 1fr);

    /*primer contenedor*/
    .container-buscados {
        grid-area: buscados;
        display: flex;
        background-color: $bg-contenedores;
        padding: 10px 0 10px 0;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);

        .titulo-buscados {
            list-style: none;
            font-size: 25px;
            padding: 10px;
        }

    }

    /*segundo contenedor*/
    .container-vendidos {
        grid-area: vendidos;
        display: flex;
        background-color: $bg-contenedores;
        padding: 10px 0 10px 0;
        font-size: 20px;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        flex-direction: column;
        align-items: center;
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);


        .titulo-vendidos {
            list-style: none;
            font-size: 25px;
            padding: 15px;
        }


    }

    /*tercer contenedor*/
    .container-pagos {
        grid-area: pagos;
        display: flex;
        align-content: space-around;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $bg-contenedores;
        padding: 20px 0 20px 0;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);

        .pagos {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .promociones {
                margin-top: 30px;
            }
        }
    }

    /*cuarto contenedor*/
    .container-logo {
        grid-area: logo;
        display: grid;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;


        .logo-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

        }
    }

    /*quinto contenedor*/

    .container-comunicacion {
        display: grid;
        align-content: center;
        @include grid(3, 4);
        grid-area: comunicacion;
        background-color: $bg-contenedores;
        padding: 10px 0 10px 0;
        justify-content: center;
        align-items: flex-start;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);

        .footer-derecha {


            .telefono {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                @extend %flex;

                .icono-telefono {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }

            .mail {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                @extend %flex;

                .icono-mail {
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
        }
    }

    /*sexto contenedor*/

    .container-redes {
        grid-area: redes;
        display: grid;
        align-items: center;
        background-color: gray;
        background-color: $bg-contenedores;
        padding: 10px 0 10px 0;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);


        .footer-redes {


            .redes {
                @extend %flex;
                justify-content: space-around;

                .fa-brands {
                    font-size: 30px;

                }
            }

        }
    }




@media screen and (max-width: 450px) {
    display: grid;
    @include grid-template (1fr, none);
    grid-row-gap: 10px;
    margin: 30px;
    gap: 20px;
    grid-template-areas: "buscados"
                        "vendidos"
                        "pagos"
                        "comunicacion"
                        "redes"
                        "logo";

}
}