/* Carrusel - Index */

.section__2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    padding: 30px;
    margin-right: 30px;
    margin-left: 30px;
    justify-items: center;
    align-items: center;
    @include grid-template (1fr 1fr 1fr, auto);
    background-color: rgb(141, 135, 128);
    border-radius: map-get($estilo-contenedores, radio-contenedor);
    border: map-get($estilo-contenedores, borde-contenedor);
    box-shadow: map-get($estilo-contenedores, sombra-contenedor);


    .container-carrusel {
        display: flex;
        align-items: stretch;
        .d-sm-block{
            
            background-color: rgba(0, 0, 0, 0.423);
        .texto-foto {
            font-size: 30px;
            -webkit-text-stroke: 1px black;
            font-family: $font-style;
            color: white;
        }
    }
    }


    @media screen and (max-width: 450px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 10px;
        margin-top: 30px;
        justify-items: center;
        @include grid-template (1fr, auto);
    }
}