.main-institucional {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 250px 700px;
    padding: 0 20px 0 20px;
    gap: 20px;

    .grid-item {
        padding: 5px;
        margin: 5px;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
    }


    .columna-izquierda {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 40px 20px 20px 20px;
        background-color: rgb(219, 210, 210);
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);


        .valores {
            @extend %etiqueta-institucional;
        }

        .lista-valores {
            @extend %lista-institucional;
        }

        .ideario {
            @extend %etiqueta-institucional;
        }

        .texto-ideario {
            @extend %lista-institucional;
        }

        .mision {
            @extend %etiqueta-institucional;
        }

        .texto-mision {
            @extend %lista-institucional;
        }

        .vision {
            @extend %etiqueta-institucional;
        }

        .texto-vision {
            @extend %lista-institucional;
        }

        @media screen and (max-width: 450px) {
            display: grid;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            margin: 10px;

        }
    }

    .imagen-teach {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        .imagen-institucional {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: map-get($estilo-contenedores, radio-contenedor);
            border: map-get($estilo-contenedores, borde-contenedor);
            box-shadow: map-get($estilo-contenedores, sombra-contenedor);

        }

        @media screen and (max-width: 450px) {
            display: grid;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;

        }
    }

    .texto-derecha {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgb(219, 210, 210);
        padding: 20px 30px 20px 20px;
        font-size: 21px;
        line-height: 30px;
        border-radius: map-get($estilo-contenedores, radio-contenedor);
        border: map-get($estilo-contenedores, borde-contenedor);
        box-shadow: map-get($estilo-contenedores, sombra-contenedor);


        @media screen and (max-width: 450px) {
            display: grid;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            overflow-y: scroll;
            grid-template-rows: 500px;
            margin: 10px;
        }

    }

    @media screen and (max-width: 450px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5px;
        padding-top: 20px;
    }
}