%flex {
    display: flex;
    flex-direction: row;
}

%flex-banderas {
    display: grid;
    justify-items: center;
    padding: 30px;
    gap: 10px;
}

%lista-institucional{
    list-style: none;
    font-size: 20px;
    margin-bottom: 35px;
}

%etiqueta-institucional{
    background-color: black;
            color: white;
            font-size: 15px;
            margin-bottom: 20px;
}