$estilo-contenedores: (
    radio-contenedor: 10px 10px 10px 10px,
    -moz-border-radius: 10px 10px 10px 10px,
    -webkit-border-radius: 10px 10px 10px 10px,
    borde-contenedor: 0px solid #000000,
    -webkit-box-shadow: 19px 11px 13px -7px rgba(0, 0, 0, 0.75),
    -moz-box-shadow: 19px 11px 13px -7px rgba(0, 0, 0, 0.75),
    sombra-contenedor: 19px 11px 13px -7px rgba(0, 0, 0, 0.75),

);


