/*  @mixin flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  PARA LLAMAR AL MIXIN */
 
 /*@mixin flex ($flex, $align) {
     display: $flex;
     align-items: $align;
 }

 
.subtitulo{
    @include flex(flex, center)

}*/



